/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/images/background3.jpg') center/cover no-repeat fixed;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* styles.css */

.container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}


.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    padding: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 8px;
}

button {
    /* background: linear-gradient(to right, #4caf50, #45a049); */
    /* color: #fff; */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: linear-gradient(to right, #45a049, #4caf50);
}


/* Button */

.btn {
    /* width: 230px;
    height: 40px;
    font-size: 1.1em; */
    cursor: pointer;
    background-color: #171717;
    color: #fff;
    /* border: none;
    border-radius: 5px; */
    transition: all .4s;
   }
   
   .btn:hover {
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0 7px 0 -2px #f85959,
     0 15px 0 -4px #39a2db,
     0 16px 10px -3px #39a2db;
   }
   
   .btn:active {
    transition: all 0.2s;
    transform: translateY(-5px);
    box-shadow: 0 2px 0 -2px #f85959,
     0 8px 0 -4px #39a2db,
     0 12px 10px -3px #39a2db;
   }